@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');


*{
    margin: 0;
    padding: 0;
     font-family: "Roboto", sans-serif;
}

body{
  color: white;
}

.left{
    width: 25vw;
    padding: 10px;
}

.right{
    width: 75vw;
}

.home ul li{
    list-style: none;
    width: 14px;
    display: flex;
    gap: 15px;
    padding-top: 14px;
    font-weight: bold;
}

