*{
    margin: 0;
    padding: 0;
}
body{
  color: white;
}

.left{
    width: 25vw;
    padding: 10px;
}
.right{
    width: 75vw;
}

.home ul li{
    list-style: none;
    width: 14px;
    display: flex;
    gap: 15px;
    padding-top: 14px;
}

.home{
    padding: 10px;
}