@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');


*{
    margin: 0;
    padding: 0;
     font-family: "Roboto", sans-serif;
}

body{
    background-color: black;
  color: white;
}

.left{
    width: 25vw;
    padding: 10px;
}

.right{
    width: 75vw;
}

.home ul li{
    display: flex;
    list-style: none;
    width: 14px;
    display: flex;
    gap: 15px;
    padding-top: 14px;
    font-weight: bold;
}

.heading{
   display: flex;
    list-style: none;
    width: 238px;
    display: flex;
    gap: 15px;
    padding-top: 14px;
    font-weight: bold; 
    align-items: center;
    padding: 23px 16px;
    font-size: 13px;
}

.library{
    min-height: 80vh;
    position: relative;
}

.heading img{
    width: 30px;
}

.footer{
    display: flex;
    font-size: 10px;
    color: gray;
    gap: 30px;
    position: absolute;
    bottom: 0;
        font-size: 8px;
    font-weight: bold;
    margin-bottom: 12px;

}

.footer a{
    color: grey;
}