@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');


*{
    margin: 0;
    padding: 0;
     font-family: "Roboto", sans-serif;
}

body{
    background-color: black;
  color: white;
}

.left{
    width: 25vw;
    padding: 10px;
}

.right{
    width: 75vw;
    margin: 16px 0;
}

.home ul li{
    display: flex;
    list-style: none;
    width: 14px;
    display: flex;
    gap: 15px;
    padding-top: 14px;
    font-weight: bold;
}

.heading{
   display: flex;
    list-style: none;
    width: 238px;
    display: flex;
    gap: 15px;
    padding-top: 14px;
    font-weight: bold; 
    align-items: center;
    padding: 23px 16px;
    font-size: 13px;
}

.library{
    min-height: 80vh;
    position: relative;
}

.heading img{
    width: 30px;
}

.footer{
    display: flex;
    font-size: 10px;
    color: gray;
    gap: 30px;
    position: absolute;
    bottom: 0;
        font-size: 8px;
    font-weight: bold;
    margin-bottom: 12px;

}

.footer a{
    color: grey;
}

.header{
    display: flex;
    justify-content: space-between;
    background-color: rgb(52 50 50);
}

.header > *{
    padding: 20px;
   
}

.soptify-playlist{
    padding: 16px;
}

.card{
    width: 200px;
    padding: 10px;
    border-radius: 5px;
    background-color: #252525;
    position: relative;
}

.card img{
    width: 100%;
    object-fit: contain;
}

.card > *{
    padding-top: 3px;
}

.Card-container{
    display: flex;
    gap: 15px;
    flex-wrap: wrap;
    margin: 30px;
}

.play img{
    background-color: #00ff00;
    border-radius: 50%;
    width: 45px;
    padding: 2px;
}
.play{
    position: absolute;
     top: 156px;
    right: 17px;
    opacity: 0;
    transition: all 1s ease-out;
}

.card:hover{
     .play{
           opacity: 1;
    top: 148px;
     }

}