.flex{
 display: flex;
}

.justify-center{
    justify-content: center;
}

.items-center{
    align-items: center;
}

.border{
    border: 2px solid red;
}
.container{
    gap: 4px;
}

.bg-black{
    background-color: black;
}

.bg-grey{
    background-color: #1f1e1e;
}

.invert{
    filter: invert(1);
}

.rounded{
    border-radius: 7px;
}

.m-1{
    margin: 5px;
}

.p-1{
     padding: 10px;
}